<section id="blog-details" class="padding-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-4">
                    <div class="row">
                         <div class="col-md-12 col-sm-12">
                            <div class="single-blog blog-details two-column">
                                <div class="post-thumb">
                                    <a href="#"><img src="{{img}}" class="img-responsive" alt=""></a>
                                    <div class="post-overlay">
                                        <span class="uppercase"><a href="#">14 <br><small>Feb</small></a></span>
                                    </div>
                                </div>
                                <div class="post-content overflow">
                                    <div class="post-bottom overflow">
                                        <ul class="nav navbar-nav post-nav">
                                            <li><a href="#"><i class="fa fa-tag"></i>Creative</a></li>
                                            <li><a href="#"><i class="fa fa-heart"></i>32 Love</a></li>
                                            <li><a href="#"><i class="fa fa-comments"></i>3 Comments</a></li>
                                        </ul>
                                    </div>
                                    <div class="blog-share">
                                        <span class='st_facebook_hcount'></span>
                                        <span class='st_twitter_hcount'></span>
                                        <span class='st_linkedin_hcount'></span>
                                        <span class='st_pinterest_hcount'></span>
                                        <span class='st_email_hcount'></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
                <div class="col-md-6 col-sm-5">
                    <div id="dialog-overlay"></div>
                        <div id="dialog-box">
                            <div class="dialog-content">
                                <h1 class="dialog-title">{{title}}</h1>
                                <div class="leftColumn">
                                    <div class="post-content overflow">
                                        <h3 class="post-author"><a href="#">Posted by micron News</a></h3>
                                        <h3>Price: ${{price}}</h3>
                                        <h3>Description:</h3>
                                        <div id="dialog-description" itemprop="description">{{description}}</div>
                                        <a href="#" class="read-more">View More</a>
                                    </div>
                                    <h3>Color:</h3>
                                        {{#each arraycolor as |itemcolor|}}
                                            <button type="button" class="btn btn-default btn-circle" style={{fillcolor itemcolor}}></button>
                                        {{/each}}
                                    <div>
                                    <h3 class="inline-spinnet">Quantity: {{input class="input-number" type="number" value=quantity min="1" max=stock }}</h3> 
                                    {{#if hidenext}}
                                        {{#if outStock}}
                                            <button type="button" class="btn btn-lg btn-warning">Out of Stock</button>
                                        {{else}}
                                            <button type="button" class="btn btn-lg btn-warning" {{action 'addCart'}}>Add to Cart</button>
                                        {{/if}}
                                    {{/if}}
                                    {{#if Showingnext}}
                                        <button type="button" class="btn btn-lg btn-warning" {{action 'viewCart'}}>View Cart</button>
                                        <button type="button" class="btn btn-lg btn-warning" {{action 'continueShop'}}>Continue Shopping</button>
                                    {{/if}}
                                    </div>
                                </div>
                                <div class="clearBoth">&nbsp;</div>
                            </div>
                            <div class="dialog-box-shadows">
                                <div class="leftShadow"></div>
                                <div class="rightShadow"></div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
{{yield}}
