{{ara-navbar}}
<hr>
<div class="row">
    <div class="col-md-8 col-sm-4">
    	{{ara-shoppingcar-card title=(t 'cart')}}
	</div>
	<div class="col-md-4 col-sm-4">
    	{{ara-calculator-card}}
	</div>
</div>	
{{outlet}}
{{ara-footer}}
